
button.menu {
  text-decoration: underline #F8FAFB; 
  border: none;
  color: #F8FAFB;
  background-color: #33324C;
}

div.menuItem {
  margin-left: 2px;
  margin-right: 2px;
}

div.logoText {
  margin-left: 20px;
  margin-right: 20px;
  color: #F8FAFB;
}
