.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  /* background-color: #2F2F4C; */
  height: 56px;
  display: flex;
  align-items: center;
  flex-direction: row;
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  /* margin-left: -10px; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.page {
  margin: 10px;
}

div.box {
  border-style: solid;
  border-width: 1px;
  display:inline-block;
  border-radius: 6px;
  padding: 2px;
  margin: 2px;
}

div.contextList {
  margin-top: 5px;
  margin-bottom: 20px;
}

span.context {
  margin: 4px;
  padding: 2px;
}

div.menuItem {
  margin-left: 10px;
  margin-right: 10px;
  padding: 2px;
}

div.importFileDropzone {
  margin-left: 10px;
  margin-right: 10px;
  padding: 2px;
  border-style: solid;
  border-width: 3px;
}

span.currentContext {
  margin: 1px;
  padding: 2px;
  border-style: solid;
  border-width: 3px;
  border-radius: 6px;
}