
button.menu {
  background-color: white; 
  color: black; 
  text-decoration: underline black; 
  border: none;
}

div.menuItem {
  margin-left: 2px;
  margin-right: 2px;
}

div.logoText {
  margin-left: 0px;
  margin-right: 20px;
}
